@media (max-width: 700px) {
    #tt-header .tt-menu.open-menu {
        display: block;
        height: auto !important;
        position: absolute;
        right: 0px;
        background: white;
        width:250px;
    }
        #tt-header .tt-menu ul
        Specificity: (1,1,1)
     {
        margin: 1px 0 0 0;
     }
}
